#game {
	position: relative;
	padding-top: 5px;
	width: 1024px;
	height: 480px;
	overflow: hidden;
}

#game, footer {
width: 50%;
	margin: 50px auto;
}

#game, header {
	width: 50%;
	margin: 50px auto;
}


.scene {
	position: absolute;
	width: 1024px;
	height: 480px;
}

#menu-scene {
	background: #F5F5F2;
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align: center;
	
	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align: center;
	
	display: box;
	box-pack:center;
	box-align: center;
}

#game-scene {
	background: #F5F5F2;
	top: -768px;
}

#game-scene.show-scene {
	top: 10px;
	-webkit-transition: top .3s linear;
	-moz-transition: top .3s linear;
	transition: top .3s linear;
}


#game-canvas, #game-background-canvas {
	position: absolute;
}


/* Menu Scene Elements */
a[href='#game'] {
	width: 100px;
	height: 100px;
	background: url(../images/play_button.png);
	overflow: hidden;
	display: block;	
}

a[href='#game']:hover {
	background-color: '#ff0000';
}

a[href='#game']:active {
	background-position: 105px;
}

a[href='#game'] span {
	display: block;
	margin-top: -55px;
}

.game p {
	position: absolute;
    right: 200px;
    width: 480px;
    padding: 5px;
}