
/*Header*/
header {
	margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    border-bottom: 2px solid #696969;
}

header table {
background-color: #F5F5F2;
}
/*Title*/
.title {
	text-align: center;
	font-family: Verdana, serif;
}
/*Body*/
body {
	background-color: #F5F5F2;
}

/*Footer*/
footer {
background-color: #F5F5F2;
}

/*Title*/
.title h1 {
	color: #7881A2;
	text-transform: uppercase;
	font-weight: bold;
}
/*Patient Profile*/
.patient-profile {
	padding-left: 10px;
	display: inline-block;
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 10px;
    padding-left: 50px;
    width: 140px;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left: 40px;
}

.input-table tr td h3{
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
}

.main td{
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
	#tfnewsearch{
		margin: 0 auto;
		padding:20px;
	}
	.tftextinput2{
		margin: 0;
		padding: 10px 15px;
		margin-right: 10px;
		color:#666;
		border:1px solid #D3D3D3;
		border-radius: 5px;
	}
	.tfbutton2 {
		margin: 0;
		padding: 10px 15px;
		font-weight:bold;
		text-align: center;
		color: #000000;
		border: solid 1px #13A89E;
		background: #13A89E;
		background: -webkit-gradient(linear, left top, left bottom, from(#13A89E), to(#13A89E));
		background: -moz-linear-gradient(top,  #13A89E,  #13A89E);
		border-radius: 5px;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #D3D3D3;
		background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#D3D3D3));
		background: -moz-linear-gradient(top,  #D3D3D3,  #D3D3D3);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
	.selection  table td{
	padding: 5px 5px;
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
	}
	
	/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
        .patient-main td{
    padding-top: 10px;
    padding-bottom: 10px;
    }